Host node01
  HostName 127.0.0.1
  User vagrant
  Port 2204
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/nishiki/.ghq/github.com/mnishikizawa/fluentd-aggregator/.vagrant/machines/node01/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host node02
  HostName 127.0.0.1
  User vagrant
  Port 2205
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/nishiki/.ghq/github.com/mnishikizawa/fluentd-aggregator/.vagrant/machines/node02/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host node03
  HostName 127.0.0.1
  User vagrant
  Port 2206
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/nishiki/.ghq/github.com/mnishikizawa/fluentd-aggregator/.vagrant/machines/node03/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host node04
  HostName 127.0.0.1
  User vagrant
  Port 2207
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/nishiki/.ghq/github.com/mnishikizawa/fluentd-aggregator/.vagrant/machines/node04/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

