<system>
  log_level trace
</system>

<source>
  @type forward
  port 24224
  bind 0.0.0.0
</source>

<source>
  @type monitor_agent
  port 24220
  bind 0.0.0.0
</source>

<match ping.*>
  @type copy
  <store>
    @type ping_message_checker
    tag  alert.ping_message
    check_interval 300      #default 3600
    notification_times 3
    notifications yes
  </store>
  <store>
    @type file_alternative
    path /var/log/td-agent/ping.log.%Y%m%d
    time_slice_format %Y%m%d
    time_format %Y-%m-%d %H:%M:%S %z"

    buffer_type file
    flush_interval 1s

    output_include_time true
    output_include_tag false
    output_data_type attr:data
    add_newline        true
  </store>
</match>

<match alert.ping_message>
  @type copy
  <store>
    @type slack
    webhook_url {{ url }}
    channel #infra
    username s
    icon_emoji :x:
    color danger
    message Fluentd node has down :%s
    message_keys data
    flush_interval 1m
  </store>
  <store>
    @type file_alternative
    path /var/log/td-agent/missing.ping.log.%Y%m%d
    time_slice_format %Y%m%d
    flush_interval 1s
    output_include_time true
    output_include_tag false
    output_data_type attr:data
  </store>
</match>

<source>
  @type ping_message
  tag ping.watcher.active
  data ${hostname}
  interval 30
</source>

<match ping.watcher.active>
  @type forward
  <server>
   name node05
   host 192.168.11.15
  </server>
</match>

<match ping.watcher.standby>
  @type copy
  <store>
  @type ping_message_checker
    tag  watcher.ping_message
    check_interval 300      #default 3600
    notification_times 3
    notifications yes
  </store>
  <store>
    @type file_alternative
    path /var/log/td-agent/ping.watcher.log.%Y%m%d
    time_slice_format %Y%m%d
    time_format %Y-%m-%d %H:%M:%S %z"

    buffer_type file
    flush_interval 1s

    output_include_time true
    output_include_tag false
    output_data_type attr:data
    add_newline        true
  </store>
</match>

<match watcher.ping_message>
    @type slack
    webhook_url {{ url }}

    channel #infra
    username s
    icon_emoji :x:
    color danger
    message Fluentd node has down :%s
    message_keys data
    flush_interval 1m
</match>

